html{
   max-width: 900px;
}

h1{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: middle;
    border-bottom: 5px solid green;
    margin: 0 25% 0 25%;
}

.topic{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-style: italic;
    margin:0;
}

.avatar-image{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0 20px 0;
    margin: 0;
}

.main-body {
    display: flex;
    flex-wrap:row wrap;
    margin:0;
}

.first-box {
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
    padding: 5px;
    width: 50%;
    align-items: left;
    border: 5px solid rgba(146, 3, 3, 0.671);
}

.about-me{
    text-align: center;
}

.title{
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    margin: 0;
}

.title2{
    margin: 0;
}

.title3{
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

.expectation{
    margin: 0 0 60px 0;
}

.second-box{
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
    padding: 5px;
    width: 50%;
    border: 5px solid rgba(146, 3, 3, 0.671);
}

.contact-me{
    text-align: center;
}

.label1{
    position: relative;
    left: 30px;
}

textarea {
    width: 135%;
    height: 60px;
    padding: 15px 22px;  
}

.form_container{
    position: relative;
    margin: 10px;
    padding: 15px 70px 0px 10px;
    border: 1px solid grey;
    border-radius: 10px;
}

.active_button{
    position: relative;
    left: 50%;
}

@media (max-width: 600px){
    .main-body{
        display: block;
    }  
    .first-box{
        display: flex;
        flex-flow: column wrap;
        min-width: 75%;
        max-width: 440px;
    }  
    .second-box{
        display: flex;
        flex-flow: column wrap;
        min-width: 75%;
        max-width: 440px;
    }
}